<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="text/javascript" src="/js/html2pdf.js"></script>
</head>
<body>
	
	<div class="app_wiser">	
		<%=data.data%>

</div>

<script>
	let pre = document.querySelector('.app_wiser')
	pre.innerHTML = pre.innerText


// 	let h1 = document.querySelectorAll('h1')
// 	let h3 = document.querySelectorAll('h2')
// 	let h2 = document.querySelectorAll('h3')
// 	let div = document.querySelectorAll('div')
// 
// 	Array.from(h1).forEach((item) => {
// 	  item.removeAttribute('contenteditible')
// 		console.log(item)
// 	})
// 
// 
// 
// 	Array.from(h2).forEach((item) => {
// 	  item.removeAttribute('contenteditible')
// 	})
// 
// 
// 	Array.from(h3).forEach((item) => {
// 	  item.removeAttribute('contenteditible')
// 	})
// 
// 
// 
// 	Array.from(div).forEach((item) => {
// 	  item.removeAttribute('contenteditible')
// 	})
// 
// 	




</script>
<script type="text/javascript" src="/js/pdf.js"></script>
</body>
</html>