<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/ripple.js"></script>

</head>
<body>
		
		
		<header class="slider">
			<div class="img_background" style="    width: 100%;
    height: 100vh;
    background: url(/img/b1.png),url(/img/bg1.jpeg);
    background-size: 50% 100%,cover;
    background-position: right,center;
    background-repeat: no-repeat,no-repeat;
    clip-path: polygon(0 0,100% 0, 100% 30%, 100% 70%,50% 100%,50% 100%,0% 70%, 0% 30%);
"> 
			<nav>
				<div class="navfirst">
					<h1>PORTFO<span>LIO</span></h1>
				</div>

				<div class="navsecond">
					<ul>
						<button class="btn" id="save">Save</button>
					</ul>
				</div>
			</nav>


			<div class="nav-desc">
				<div class="nav-class">
					<h5 contenteditable="true">Hello, I am</h5>
					<h1 contenteditable="true">Nilesh Dadheech</h1>

					<h2  contenteditable="true">And I am a Web Deginer and developer</h2>
					<button contenteditable="true">Hire me</button>
				</div>
			</div>

</div>

		</header>


		<section>
			<div class="about">
				<h1 contenteditable="true">About me</h1>
				<p class="who_am_i" contenteditable="true">who I am?</p>

				<div class="about-flex">
					<div class="about-image">
						<img src="/img/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt="image">
					</div>

                    <div class="about-desc">
                    	<h1 contenteditable="true">Hello, I'm Nilesh & I'm a Developer</h1>
                        <p class="who_am_i" contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <button class="btn">Download CV</button>

                    </div>



				</div>
			</div>
		</section>



		<section class="skill_section">
				<div class="skill_desc">
					<h1 class="header" contenteditable="true">Skill's</h1>
					<p class="who_am_i" contenteditable="true">who I am?</p>
				</div>


				<div class="skill">
					<div class="skill-about">
						<p contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
						<button class="btn" contenteditable="true">Read More</button>
					</div>

					<div class="skill_type">
						<div class="skill_type_item">
							<h2 contenteditable="true">HTML</h2>

							<div class="skill_range">
								<div class="range_index"></div>
								<div class="percentage" contenteditable="true">34%</div>
							</div>
						</div>

							<div class="skill_type_item">
							<h2 contenteditable="true">css</h2>

							<div class="skill_range">
								<div class="range_index"></div>
								<div class="percentage" contenteditable="true">45%</div>
							</div>
						</div>

							<div class="skill_type_item">
							<h2 contenteditable="true">javascript</h2>

							<div class="skill_range">
								<div class="range_index"></div>
								<div class="percentage" contenteditable="true">80%</div>
							</div>
						</div>

							<div class="skill_type_item">
							<h2 contenteditable="true">Bootstrap</h2>

							<div class="skill_range">
								<div class="range_index"></div>
								<div class="percentage" contenteditable="true">40%</div>
							</div>
						</div>
	<div class="skill_type_item">
							<h2 contenteditable="true">jquery</h2>

							<div class="skill_range">
								<div class="range_index"></div>
								<div class="percentage" contenteditable="true">90%</div>
							</div>
						</div>



					</div>

				</div>


		</section>



<section>
		<div class="skill_desc">
					<h1 class="header" style="color: black;" contenteditable="true">Services</h1>
					<p class="who_am_i" contenteditable="true">who I am?</p>
				</div>


		<div class="services">
			<div class="services-box">
				<div class="services-img">
					<img src="/img/b2.png" alt="image">
				</div>

				<h2 contenteditable="true">The Great Shivam</h2>
				<p contenteditable="true">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

           <div class="services-box">
				<div class="services-img">
					<img src="/img/b2.png" alt="">
				</div>

				<h2 contenteditable="true">The Great Shivam</h2>
				<p contenteditable="true">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

<div class="services-box">
				<div class="services-img">
					<img src="/img/b2.png" alt="image">
				</div>

				<h2 contenteditable="true">The Great Shivam</h2>
				<p contenteditable="true">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>



		</div>		

</section>


<section class="contact">
	
		<div class="skill_desc">
					<h1 class="header"> <abbr title="Contact us" contenteditable="true">Contact us</abbr></h1>
					<p class="who_am_i" style="color: black;" contenteditable="true">who I am?</p>
				</div>


			<div class="contact-data">	

				<div class="contact-image">
					<img src="/img/b3.png" alt="image">
			
				</div>
			
				<div class="contact-form">
					<form action="">
						<h2 contenteditable="true">Contact with us</h2>

						<input type="text" placeholder="Name">
						<input type="text" placeholder="Email">
					
						<textarea placeholder="Message"></textarea>

						<button class="btn form-btn">
							Submit
						</button>
					</form>
				</div>

			</div>


</section>
<!-- 


<footer>
	&copy; All Right Reserved 2021-2022
</footer>
 -->

<!-- 
<script type="text/javascript" src="/js/vanilla.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".services-box"), {
		max: 25,
		speed: 400
	});
	
	// It also supports NodeList
	// VanillaTilt.init(document.querySelectorAll(".your-element"));


		jQuery(document).ready(function () {
			$('.slider').ripples({
				dropRadius:10,
				perturbance:0.01,
			})
		})


</script>



	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/ripple.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			$('.slider').ripples({
				dropRadius:10,
				perturbance:0.01,
			})
		})

</script>
 -->

<script src="/js/index.js"></script>

</body>
</html>